

/* Add a black background color to the top navigation */
.topnav {
  font-family: 'nunito', sans-serif;
  background-color: white;
  float: center;
  overflow: hidden;
}

.topnav a.name{
  font-family: 'comic sans', cursive;
  font-weight: bold;
}

.topnav-right {
  float: right;
   border-right: solid 10px white;
}
/*

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 18px 16px;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: tan;
}

.topnav a.active {
  background-color: black;
  color: white;
}

header {
	/* Layout declrations */
	padding: 220px 0;
	/* Appearance declrations */
	background-image: url('https://images.pexels.com/photos/1144176/pexels-photo-1144176.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-repeat: no-repeat;
	background-size: cover;
	border-left: solid 10px white;
  border-right: solid 10px white;
}

h1.greeting {
  /* Layout declarations */
  text-align: center;
  /* Appearance declarations */
  color: black;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	letter-spacing: 20px;
	text-shadow: 0px 0px 8px #423f4f;
}

h1.greeting:hover {
  color: white;
}

h2.quote{
  color: white;
  text-align: center;
  font-family: "ink free", "Helvetica Neue", sans-serif;
  font-size: 25px;
}

h2.quote:hover {
  color: black;
}

h1.projects {
  /* Layout declarations */
  text-align: center;
  border-top: solid 50px white;
  /* Appearance declarations */
  color: gray;
	font-family:  "open sans", sans-serif;
  text-decoration: underline;
	
	font-size: 20px;	
}

 .section-contact{
	 margin-bottom:30px;
	 padding:auto;
	 
	 
 }
 
 .contact-text{
	font-size: 1.20em;
	font-family: font-family: "Times New Roman";
	color:black;
	margin-top:10px;;
	text-align: justify;
	 
 }
 #email{
	 color: blue;
	 text-decoration: underline;
 }
