* {
  font-family: 'Raleway', sans-serif;
}

header {
	/* Layout declrations */
	padding: 300px 0;
	/* Appearance declrations */
	background-image: url('https://images.pexels.com/photos/3773413/pexels-photo-3773413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-repeat: no-repeat;
	background-size: cover;
	border-top: solid 2px #423f4f;
}

h1.greeting {
  /* Layout declarations */
  text-align: center;
  /* Appearance declarations */
  color: white;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	letter-spacing: 20px;
	text-shadow: 0px 0px 8px #423f4f;
	
}

h1.Intro {
  /* Layout declarations */
  text-align: center;
  /* Appearance declarations */
  color: black;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	
	
}
